@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* Global */
* {
  --primary-green: #1ce783;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #000; 
  overflow-x: hidden;
}

.container {
  max-width: 1300px;
  padding: 0 30px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

/* Utils */
.btn {
  border-radius: 5px;
  border: none;
  padding: 1.2rem 2.1rem;
  cursor: pointer;
  display: inline-block;
}

/* Header */
header {
  padding-bottom: 30px;
  background-image: url("../img/header.jpg");
  min-height: 85vh;
  background-size: cover;
  box-shadow: inset 0px -10px 30px 13px #000;
  position: relative;
}

/* header::before {
  content: '';
  width: 100%;
  height: 30px;
  box-shadow: inset 0 0 10px 35px rgba(0, 0, 0, 0.397);
  position: absolute;
  top: 0;
  left: 0;
} */

.header-login {
  text-align: right;
  padding: 20px 0;
}

.header-login h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.header-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.logo {
  width: 20vw;
  min-width: 200px;
  max-width: 500px;
  margin-bottom: 2rem;
}

.logo::before {
  content: "try upto one month free";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.7rem;
  display: inline-block;
  width: 100%;
  font-size: 0.86rem;
  color: var(--primary-green);
  font-weight: 700;
}

.header-text-1 {
  font-size: 1.45rem;
  margin-bottom: 2.8rem;
}

.header-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 2.9rem;
}

header .btn-cta {
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  background: #fff;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.legal {
  font-size: 0.62rem;
  color: #ccc;
  word-spacing: 1px;
  text-align: center;
}

/* Sub-header */
.sub-header {
  min-height: 120px;
  background: linear-gradient(318.6deg, #0d3640 49.72%, #08141f 100%);
}

.sub-header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.sub-header-img {
  width: 300px;
  margin-right: 2.6rem;
}

.subheader-get-bundle {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.get-bundle-btn {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.1rem;
}

.subheader-terms-link {
  font-size: 0.7rem;
  color: #ccc;
  text-align: center;
  text-decoration: underline;
  display: block;
  margin-top: 17px;
  margin-right: 40px;
}

.subheader-text-1 {
  color: var(--primary-green);
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 7px;
}

.subheader-text-2 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.subheader-details-link {
  font-size: 0.75rem;
  color: #ccc;
  text-decoration: underline;
}


/* Categories */
.categories {
  color: #fff;
  padding-top: 95px;
}

.categories h5:nth-child(1), .live-tv h5 {
  color: var(--primary-green);
  text-align: center;
  text-transform: uppercase;
}

.categories h1, .live-tv h1 {
  text-align: center;
  font-size: 4rem;
  margin: 15px 0;
}

.categories h3, .live-tv h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.categories .covers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  width: 100%;
  padding: 80px 30px;
}

.covers .cover {
  position: relative;
  height: 500px;
  width: 300px;
  margin: auto;
}

.cover .cover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.categories .cover-1 .cover-bg {
  background: url("../img/cover-1.jpg");
  background-position: center;
  background-size: cover;
}

.categories .cover-2 .cover-bg {
  background: url("../img/cover-2.jpg");
  background-position: center;
  background-size: cover;
}

.categories .cover-3 .cover-bg {
  background: url("../img/cover-3.jpg");
  background-position: center;
  background-size: cover;
}

.categories .cover-4 .cover-bg {
  background: url("../img/cover-4.jpg");
  background-position: center;
  background-size: cover;
}

.cover .cover-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  padding: 35px 20px;
}

.cover-text-container h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 7px;
}

.cover-text-container h2 {
  font-size: 1.8rem;
  font-weight: 300;
  text-shadow: 0px 0px 20px #000;
}

/* LIVE TV */
.live-tv {
  color: #fff;
  background-color: #1a1a1a;
  padding: 30px 0;
}

.wrapper {
  border: 4px solid var(--primary-green);
  border-radius: 10px;
  width: 90%;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.live-tv h3 {
  line-height: 1.6;
}

.live-tv p {
  font-size: 0.62rem;
  color: #ccc;
  word-spacing: 1px;
  text-align: center;
  margin: 30px 0;
}

.live-tv a {
  text-align: center;
  text-decoration: underline;
  display: block;
  text-transform: uppercase;
  font-size: 1.1rem;
}

/* Live Sports */
.live-sports {
  color: #fff;
  min-height: 100vh;
  background-image: url("../img/live-sports.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.live-sports > div {
  width: 50%;
  max-width: 800px;
}

.logos-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-sports img {
  width: 50px;
  padding: 14px 7px;
  margin-left: 30px;
  border-radius: 80%;
  background-color: #fff;
}

.live-sports img:nth-child(1) {
  margin-left: 0;
}

.live-sports h1 {
  font-size: 4rem;
}

.live-sports h2 {
  line-height: 1.6;
  margin: 20px 0 40px 0;
  font-weight: 400;
  width: 90%;
}

.live-sports p {
  text-align: left;
  margin-top: 25px;
}

/* Footer */
footer {
  background: #eee;
  color: #000;
  padding-bottom: 20px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 100px 0;
  margin: 0 auto;
  width: 90%;
}

.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 200px;
  min-height: 250px;
}

footer h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1rem;
}

.footer-links li {
  margin-bottom: 10px;
  text-align: left;
}

.footer-links li a {
  color: #222;
}

footer .footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
  width: 80%;
  margin: auto;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.footer-social img {
  width: 20px;
  margin-left: 30px;
}

.footer-social img:nth-child(1) {
  margin-left: 0;
}

@media (max-width: 980px) {
  .sub-header .container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
  }
  
  .sub-header-img {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .live-sports {
    text-align: center;
    background-position: left;
    padding: 30px 0;
  }

  .live-sports > div {
    width: 100%;
    margin: auto;
  }

  .live-sports h2 {
    text-shadow: 5px 5px 25px #000;
    margin: auto;
  }

  .logos-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px auto;
    width: 70%;
  }

  .logos-container img {
    margin-left: 0;
  }

  .live-sports .legal {
    text-align: center;
  }
}

@media (max-width: 350px) {
  * {
    font-size: 14px;
  }
}